.loading{
    width: 150px;
    max-width: 100%;
    display: block;
    animation: 1s load ease-in-out infinite;
}

.loading img{
    width: 100%;
    max-width: 100%;
    display: block;
    max-height: 100%;
}

@keyframes load {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}